In [10]:
import pandas as pd
df = pd.read_csv("Negara.csv")
mean = df.groupby(['Benua']).mean(numeric_only=True)
std = df.groupby(['Benua']).std(numeric_only=True)
print(df.head())
print(mean)
print(std)

            Negara       Ibu Kota    Benua  Luas  Populasi
0        Indonesia        Jakarta     Asia  1905       264
1           Jepang          Tokyo     Asia   377       143
2            India      New Delhi     Asia  3287      1252
3            China        Beijing     Asia  9597      1357
4  Amerika Serikat  Washington DC  Amerika  9834       329
           Luas    Populasi
Benua
Afrika   1652.0  121.500000
Amerika  6771.0  221.666667
Asia     6452.8  632.400000
Eropa     299.5   74.500000
                Luas    Populasi
Benua
Afrika   1030.961687  111.015765
Amerika  4214.899406  102.001634
Asia     6906.996395  616.596546
Eropa      81.317280   12.020815

In [12]:































import pandas as pd
df = pd.read_csv("Negara.csv")
mean = df.groupby(['Benua']).mean(numeric_only=True)
std = df.groupby(['Benua']).std(numeric_only=True)
print(df.head())
print(mean)
print(std)

            Negara       Ibu Kota    Benua  Luas  Populasi
0        Indonesia        Jakarta     Asia  1905       264
1           Jepang          Tokyo     Asia   377       143
2            India      New Delhi     Asia  3287      1252
3            China        Beijing     Asia  9597      1357
4  Amerika Serikat  Washington DC  Amerika  9834       329
           Luas    Populasi
Benua
Afrika   1652.0  121.500000
Amerika  6771.0  221.666667
Asia     6452.8  632.400000
Eropa     299.5   74.500000
                Luas    Populasi
Benua
Afrika   1030.961687  111.015765
Amerika  4214.899406  102.001634
Asia     6906.996395  616.596546
Eropa      81.317280   12.020815

In [22]:


import pandas as pd
df = pd.read_csv("Rafli.csv")
mean = df.groupby(['Benua']).mean(numeric_only=True)
std = df.groupby(['Benua']).std(numeric_only=True)
print(df.head())
print(mean)
print(std)

            Negara       Ibu Kota    Benua  Luas  Populasi
0        Indonesia        Jakarta     Asia  1905       264
1           Jepang          Tokyo     Asia   377       143
2            India      New Delhi     Asia  3287      1252
3            China        Beijing     Asia  9597      1357
4  Amerika Serikat  Washington DC  Amerika  9834       329
           Luas    Populasi
Benua
Afrika   1652.0  121.500000
Amerika  6771.0  221.666667
Asia     6452.8  632.400000
Eropa     299.5   74.500000
                Luas    Populasi
Benua
Afrika   1030.961687  111.015765
Amerika  4214.899406  102.001634
Asia     6906.996395  616.596546
Eropa      81.317280   12.020815